* {
  padding: 0;
  margin: 0;
  font-family: 'Jost', sans-serif;
  box-sizing: border-box;
  user-select: none;
  scroll-behavior: smooth;
}

body {
  background-color: #5c6068;
}

.title {
  font-size: 2em;
  margin: 1rem 0;
  color: #ffffff;
  text-align: center;
}

#accordion {
  max-width: 80%;
  margin: 0 auto;
}

#accordion:hover {
  cursor: pointer;
}

#accordion:hover .tab__label .wrapper {
  color: #000000;
}

#accordion:hover .icon {
  color: #000000;
}

.tab {
  width: 100%;
  margin-bottom: .6rem;
  padding: .6rem;

  line-height: 2rem;

  list-style: none;
  border-radius: .2rem;
  background-color: #ffffff;

  transition: .3s;
  position: relative;
}

.tab__label {
  padding: .5rem;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: space-between;

  cursor: pointer;
  
  transition: color .3s;
}

.tab__label .wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;

  font-size: .8rem;
  font-weight: 500;
  color: #0000FF;
}

.tab__label .wrapper .icon {
  font-size: 1.4rem;
  font-weight: 500;
  color: #0000FF;
  transition: .3s;
}

.tab:hover {
  transition: .3s;
}

/* hidden radio button */
.tab__input {
  display: none;
}

.tab__content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-self: center;

  padding: 0 .5rem;
  line-height: 1.6rem;
  max-height: 0;
  overflow: hidden;
  transition: .3s;
}

.tab__content .tab__image {
  padding: 1rem;
  width: 70%;
  height: 70%;
  transition: .3s;
}

.tab__input:checked ~ .tab__label .tab__content {
  width: 100%;
  max-height: 50%;
}

.tab__input:checked ~ .tab__label > .wrapper {
  color: #000000;
}

/* hover effect */
#accordion .tab:hover .tab__label {
  cursor: pointer;
  color: #000000;
  transition: .3s;
}

.tab:hover .icon {
  color: #000000;
  transform: rotate(90deg);
  transition: .3s;
}

.tab__input:checked ~ .tab__label > .wrapper >.icon {
  color: #000000;
  transform: rotate(90deg);
}

#accordion .tab:hover .tab__content {
  width: 100%;
  max-height: 40%;
  transition: .3s;
}

.tab:hover > .tab__label > .tab__content > .tab__image {
  animation-name: show-img;
  animation-duration: .3s;
}

.tab:hover > .tab__input:checked ~ .tab__label > .tab__content > .tab__image {
  animation: none;
}

@keyframes show-img {
  from { max-height: 0;}
  to {max-height: 70%;}
  
  from { max-width: 0;}
  to {max-width: 70%;}
}


@media only screen and (min-width: 820px) {
  #accordion {
    max-width: 60%;
  }

  .title {
    font-size: 3em;
  }

  .tab__label .wrapper {
    font-size: 1.6rem;
  }
}

@media only screen and (min-width: 1156px) {
  .title {
    font-size: 3.5em;
  }

  .tab__label .wrapper {
    font-size: 1.8rem;
  }
}

@media only screen and (min-width: 1920px) {
  #accordion {
    max-width: 50%;
  }

  .title {
    margin: 1.5rem 0;
    font-size: 4.5em;
  }

  .tab__label .wrapper {
    font-size: 2.2rem;
  }
}